<form action="/dashboard/editlocation/{{_id}}" method="POST">
  <div class="field">
    <label class="label">
      Location Name
      <input class="input" type="text" placeholder="Enter location name" name="name" value="{{name}}">
    </label>

  </div>
  <button class="button is-link">Update Location</button>
</form>